



#navbar {
    overflow: hidden;
    background-color:white;
  }

#buy-now{
    margin-bottom: 450px;
    
    height: 50px;
    width: 150px;
    font-size: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#tagline1{
    margin-bottom:300px;
    margin-right: 500px;
    font-size: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#tagline2{
    margin-bottom:180px;
    margin-right: 700px;
    font-size: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


#slide1-shop-button{

  height: 70;
  width: 200px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#slide1-button-body{
    margin-right:800px;
    margin-bottom: 130px;
}

#slide2-tag1{

    margin-bottom: 320px;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#slide2-tag2{

    margin-bottom: 170px;
    font-size: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#slide2-shop-button{

    height: 70;
    width: 200px;
      font-size: 28px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }

  #slide2-button-body{
    
    margin-bottom: 120px;
    margin-right: 300px;
}


#slide2-price-tag{
    
    font-size: 58px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 105px;
    margin-left: 300px;
}


/* carousel end */


/*           icons       */




#icon-background{
    border-style: hidden;
    padding: 60px;
    background-color: rgba(228, 225, 225, 0.737);
    text-align: center;

}

#icon{
    font-size: 48px;
    color:rgb(241, 140, 24);

}

#icon-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;


}


/*           feed      */


#product1{
    width: 70%;
    height: auto;
    
   

}





#product-2{
    width: 70%;
    height: auto;
   

}

#color-brown{
    color: brown;
    
}

#product-1-rate{
    color: grey;
    
    
}


#feed-product-button{
    height: 70;
    width: 200px;
      font-size: 28px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}




#center{
    text-align: center;
}

#size100{
    height: 100%;
    width: 100%;
    border: solid rgb(169, 162, 162) 2px;
    padding: 3px;
    transition: width .5s , height .5s;
}

#size100:hover{
    width: 107%;
    height: 107%;
}

#font-frank{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(222, 39, 60);
    

}

#footer-container{
    background-color: rgb(33, 34, 39);

}

a{
    text-decoration: none;
}

    